.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.draggable {
  -webkit-app-region: drag;
}
.non-draggable {
  -webkit-app-region: no-drag;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  .no-select;
}
